<div>
  <div style="display: inline-block">
    <span>Pitch</span>
    <mat-slider min="0" max="2" step="0.1" [(ngModel)]="pitch"></mat-slider>
  </div>
  <div style="display: inline-block">
    <span>Rate</span>
    <mat-slider min="0.1" max="5" step="0.1" [(ngModel)]="rate"></mat-slider>
  </div>
</div>

<div>
  <button mat-raised-button color="accent" (click)="speak()">Start</button>
  <button mat-raised-button color="accent" (click)="stopSpeak()">Stop</button>
  <mat-form-field appearance="fill" style="width: 200px; margin-left:50px;">
    <mat-label>Voice</mat-label>
    <mat-select (selectionChange)="voiceChange($event)">
      <mat-option *ngFor="let voice of voices" [value]="voice">
        {{voice.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    style="float: right"
    mat-raised-button
    color="accent"
    (click)="pauseUnpause()"
  >
    {{ paused === true ? "Unpause" : "Pause" }}
  </button>
</div>

<div *ngIf="speakingIndex !== -1">
  <span>Progress</span>
  <input
    style="width: 100%"
    type="range"
    [(ngModel)]="speakingIndex"
    min="0"
    [max]="sentences.length - 1"
  />
</div>

<p class="last_utter" [innerHTML]="textObj.htmlText | safeHtml">
  <!-- {{sentences[speakingIndex]}} -->
</p>

<div *ngIf="speakingIndex === -1">
  <div>
    <button mat-raised-button color="accent" (click)="selectAllInput()">
      Select All
    </button>
  </div>
  <div>
    <mat-form-field>
      <textarea rows="20"
        #textInput
        matInput
        [(ngModel)]="textObj.text"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>
  </div>
</div>
